<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? content_for(:title) : "Chess" %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="top-menu">
    <ul class="menu-main">
     <li><%= link_to "Home", root_path, class: "text_font" %></li>
     <li><%= link_to "Игра", game_path, class: "text_font" %></li>
     <li><%= link_to "Чемпионы", champions_path, class: "text_font" %></li>
     <li><%= link_to "Правила", rules_path, class: "text_font" %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
